header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.logo_block{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.logo_block > img {
    width: 100%;
}

.icons_block {
    display: flex;
    gap : 25px;
}

.icons_block > a > svg {
    color : white;
    font-size: 19px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    transition: .3s all linear;
}

.icons_block > a > svg:hover {
    color : gold;
} 

.cartCount{
    color: gold;
    font-size: 18px;
    text-decoration: none;
}